@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #004597;
    --secondary-color: #f60235;
    --white-color: #FFFFFF;
    --footer-color: #F8ECE0;
    --text-color: #434343;
    --text-color-2: #727272;
    --my-font: "Libre Baskerville", serif;
    --box-shadow: 2px 2px 15px 0px rgba(58, 58, 58, 0.155);
    --box-shadow-2: 0px 0px 25px 1px rgba(75, 75, 75, 0.1);
    --box-shadow-3: 0px 0px 20px 1px rgba(75, 75, 75, 0.1);
    --box-shadow-4: 0px 2px 15px 1px rgba(58, 58, 58, 0.1);
}

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    letter-spacing: 0.25px;
    color: #121212;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.1s ease-in;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

/* ================================ 
Button styles section 
=================================== */
.btn1 {
    font-family: inherit;
    display: inline-block;
    padding: 10px 16px;
    line-height: 1;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--primary-color);
    transition: color .5s;
    z-index: 1;
    font-size: 14px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: capitalize;
}

.btn1:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--primary-color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.btn1:hover {
    color: #fff;
}

.btn1:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.btn1:hover:before {
    top: -30px;
    left: -30px;
}

.btn1:active:before {
    background: var(--primary-color);
    transition: background 0s;
}

.btn2 {
    font-family: inherit;
    display: inline-block;
    padding: 10px 16px;
    line-height: 1;
    position: relative;
    overflow: hidden;
    background-color: var(--primary-color);
    transition: color .5s;
    z-index: 1;
    font-size: 14px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--white-color);
    text-transform: capitalize;
    transition: all 0.25s ease-in-out;
}

.btn2:hover {
    background-color: var(--secondary-color);
}


.sub-title {
    font-size: 18px;
    padding-bottom: 5px;
    margin: 0;
    color: var(--primary-color);
    font-weight: 600;
}


.title {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 30px;
    text-transform: capitalize;
    font-family: var(--my-font);
    margin: 0;
    color: var(--primary-color);
}

.title span {
    color: var(--secondary-color);
}

/* Custom Css */


/* ================================ 
Header Section 
=================================== */

header {
    background-color: var(--primary-color);
    padding: 0.5rem 0;
    font-size: 14px;
    color: var(--white-color);
}

.social-box {
    width: 30px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
}

.social-box:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}




/* ================================ 
Navbar Section 
=================================== */


.navbar {
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 110;
    padding: 12px 0;
}

.navbar-brand img {
    height: 50px;
}

.navbar .nav-link {
    font-weight: 500;
    font-size: 16px;
    margin: 0 16px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: var(--primary-color);
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    background: var(--secondary-color);
    width: 100%;
    height: 2px;
    transform: scale(0);
    transition: all 0.35s ease-in-out;
}

.navbar .nav-link:hover {
    color: var(--secondary-color);
}

.navbar .nav-link:hover::after {
    transform: scale(1);
}

/* navbar on scroll animation */
.navbar.scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
    transition: all ease-in-out 0.2s;
    box-shadow: 0 -2px 20px 5px #0000001f;
    animation: fadeInDown 0.5s ease-in-out;
}

@keyframes fadeInDown {
    0% {
        top: -30%;
    }

    50% {
        top: -15%;
    }

    100% {
        top: 0;
    }
}


/* ================================ 
            Banner Section 
=================================== */

.banner {
    width: 100%;
    padding: 4rem 0;
    background-color: #f3f8ff;
}

.banner h5 {
    color: var(--primary-color);
    font-size: 28px;
    margin-bottom: 22px;
}

.banner h1 {
    font-size: 52px;
    font-weight: 500;
    font-family: var(--my-font);
    margin-bottom: 25px;
}

.banner h1 span {
    color: var(--primary-color);
}

.banner p {
    font-size: 22px;
    margin-bottom: 25px;
    color: #232323;
}

.banner .call-btn {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-left: 35px;
    font-size: 20px;
}

.banner .call-btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: var(--white-color);
    margin-right: 14px;
    animation: pulse-animation 1s linear infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(246, 2, 53, 0.42);
    }

    100% {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
}

.banner .btn2 {
    font-size: 16px;
    padding: 15px 20px;
}

.banner .img-1 {
    border-radius: 15px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.banner .img-2 {
    border-radius: 15px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.banner .img-3 {
    border-radius: 15px;
    border-bottom-left-radius: 100px;
}





/* ================================ 
            About Section 
=================================== */
.about .about-first {
    border-radius: 15px;
}

.about .about-second {
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 2;
}

.about .inner-contain {
    padding: 15px;
    border: 2.25px dashed var(--primary-color);
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
}

.about .inner-contain h3 {
    color: var(--secondary-color);
    font-weight: 500;
}




/* ================================ 
            Product Section 
=================================== */

.product {
    background-color: #f9fcff;
}

.product .card {
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .1019607843);
    position: relative;
    transition: all 0.25s ease-in-out;
    min-height: 510px;
}

.product .card-title {
    font-family: var(--my-font);
    letter-spacing: 0.75px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
    color: var(--secondary-color);
}

.product .card-body {
    padding: 44px 30px 30px 30px;
}

.product .img-contain {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.product .card-img-top {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.product .indication {
    position: absolute;
    top: 280px;
    left: 0;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-weight: 500;
}

.product .card:hover .card-img-top {
    transform: scale(1.1);
}


/* ================================ 
            Contact Section 
=================================== */

.contact {
    background: url('../images/banner/banner-bg.jpg') no-repeat center;
    background-size: cover;
}

.contact h3 {
    letter-spacing: 0.75px;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--secondary-color);
}


/* ================================ 
            Footer Section 
=================================== */

footer {
    background: url('../images/banner/footer-bg.jpg') no-repeat bottom;
    background-size: cover;
}
.fot-logo img {
    height: 65px;
    margin-bottom: 30px;
}

footer .social-links {
    width: 40px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
    border: 1px solid var(--primary-color);
    margin-right: 10px;
}

footer .social-links:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: 1px solid var(--secondary-color);
}
footer h2 {
    font-size: 32px;
    color: var(--primary-color);
    margin-bottom: 32px;
    font-family: var(--my-font);
}
footer h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
}
.list-unstyled li a{
    display: inline-block;
    margin: 5px 0;
    transition: all 0.25s ease-in-out;
    color: #606060;
}
.list-unstyled li a:hover {
    color: var(--secondary-color);
}
.adres {
    color: #606060;
}
.copy {
    font-size: 14px;
    color: #606060;
}